@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model StudentInfo.Models.AddStudentViewModel

<h1>Add Student Info</h1>
<form method="post">
    <div class="mt-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Age</label>
        <input type="text" class="form-control" asp-for="Age" />
    </div>

    <div class="mt-3">
        <label class="form-label">Year</label>
        <input type="text" class="form-control" asp-for="Year" />
    </div>

    <div class="mt-3">
        <label class="form-label">Section</label>
        <input type="text" class="form-control" asp-for="Section" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>